.logo {
	height: 7em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
	filter: drop-shadow(2px 2px #cbd8e5);
}

.logo:hover {
	filter: drop-shadow(0 0 2em #cbd8e5);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.wrapper {
	display: inline-flex;
	color: #fff;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
}

.wrapper .static-text {
	font-size: larger;
	font-weight: 400;
	margin-right: 10px;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(1) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

#hero {
	width: 100%;
	height: 100vh;
	/* Photo by <a href="https://unsplash.com/@jongrogan110?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jon Grogan</a> on <a href="https://unsplash.com/photos/time-lapse-photography-of-vehicles-12WCUSkQxz0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
	background: url("../img/jon-grogan-12WCUSkQxz0-unsplash.webp") top center;
	background-position: center;
	background-repeat: round;
	background-size: contain;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

#hero:before {
	content: "";
	background: rgba(5, 13, 24, 0.3);
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#hero .hero-container {
	position: relative;
	z-index: 2;
	min-width: 300px;
	justify-content: center;
}

.name-profile-container {
	display: flex;
	align-items: center; /* Aligns items vertically in the center */
	gap: 15px; /* Space between the name and profile logo */
	padding-bottom: 20vh;
}

#hero .developer-name {
	margin: 0 0 10px 0;
	font-size: 64px;
	font-weight: 700;
	line-height: 56px;
	color: #fff;
}

.gitHub-profile {
	display: flex;
	align-items: center; /* Ensures the logo is centered vertically with the text */
}

#hero .wrapper {
	color: #fff;
	margin-bottom: 50px;
	font-size: 26px;
	font-family: "Poppins", sans-serif;
}

#hero .dynamic-text {
	font-size: larger;
	font-weight: 400;
}

#hero .dynamic-text span {
	position: relative;
	display: inline-block;
}

#hero .dynamic-text span::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5px; /* Adjust this value to move the underline up or down */
	height: 3px; /* Height of the "border" */
	background-color: #149ddd; /* Color of the "border" */
}

@media (min-width: 1024px) {
	#hero {
		background-attachment: fixed;
	}
}

@media (max-width: 768px) {
	#hero h1 {
		font-size: 28px;
		line-height: 36px;
	}

	#hero h2 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
}
